.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__header {
  color: var(--primary-black-color);
}

// 0px - 767px
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-btn__icon {
    fill: var(--primary-black-color);
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }

  .mobile-menu__close-icon:hover {
    fill: var(--accent-color);
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobile-nav-list {
    margin-bottom: 302px;
  }

  .mobile-nav-list__item:not(:last-child) {
    padding-bottom: 32px;
  }

  .mobile-nav-list__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mobile-contacts {
    margin-bottom: 64px;
  }

  .mobile-contacts__list:not(:last-child) {
    padding-bottom: 32px;
  }

  .mobile-contacts__phone {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-contacts__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .mobile-social-list {
    display: flex;
    align-items: center;
  }

  .mobile-social-list__item:not(:last-child) {
    padding-right: 20px;
  }

  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-social-list__link::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

    background: rgba(33, 33, 33, 0.2);
    // border-radius: 2px;
    // bottom: 0;
    // left: 0;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts {
    margin-left: auto;
  }

  .contacts__list:not(:last-child) {
    padding-bottom: 10px;
  }

  .contacts__mail,
  .contacts__phone {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
}
// .header__container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .nav {
//   display: flex;
//   align-items: center;
// }
// .nav-list {
//   display: flex;
//   align-items: center;
//   margin-left: 92px;
// }
// .contacts {
//   display: flex;
//   align-items: center;
//   /* margin-left: auto; */
// }
// .nav-list__item:not(:last-child) {
//   margin-right: 50px;
// }
// .contacts__list:not(:last-child) {
//   margin-right: 50px;
// }
// .header {
//   /* padding-top: 24px; */
//   /* padding-bottom: 24px; */
//   border: 1px solid #ececec;
//   border-top: none;
//   border-right: none;
//   border-left: none;

//   background: var(--background-color);
// }
// .logo__header {
//   color: var(--primary-black-color);
// }
// .nav-list__link {
//   /* position: relative; */
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: inherit;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .current::after {
//   position: absolute;
//   content: '';
//   width: 100%;
//   height: 4px;
//   background: var(--accent-color);
//   border-radius: 2px;
//   bottom: 0;
//   left: 0;
// }
// /* .nav-list__link::after {
//   position: absolute;
//   content: '';
//   width: 100%;
//   height: 4px;
//   background: var(--accent-color);
//   border-radius: 2px;
//   bottom: 0;
//   left: 0;
// } */
// .contacts__mail,
// .contacts__phone {
//   /* display: block; */
//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--secondary-text-color);

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts__mail-icon {
//   fill: var(--secondary-text-color);
//   margin-right: 10px;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contacts__mail:hover &,
//   .contacts__mail:focus & {
//     fill: var(--accent-color);
//   }
// }

// .contacts__phone-icon {
//   fill: var(--secondary-text-color);
//   margin-right: 10px;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contacts__phone:hover &,
//   .contacts__phone:focus & {
//     fill: var(--accent-color);
//   }
// }
