:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --background-color-hero: #2f303a;
  --background-color-hero-btn: #2196f3;
  --background-color-team: #f5f4fa;
  --background-color-footer: #2f303a;
  --hover-color-hero-btn: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}
